<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3darAutofocusPoi</key>
	<false/>
	<key>3darOverridePoiAltitude</key>
	<false/>
	<key>3darShowToolBar</key>
	<false/>
	<key>3darShowStatusBar</key>
	<true/>
	<key>3darLookMode</key>
	<string>free</string>
</dict>
</plist>
